<a href="https://colab.research.google.com/github/sofiahlr/Numerical-Methods/blob/main/Control_and_Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IF STATEMENT

In [ ]:
a=12
b=100

if b>a:
  print("b is greater than a")

b is greater than a

ELIF STATEMENT

In [ ]:
if b>a:
  print("b is greater than a")
elif a>b:
  print("a is greater than b")

b is greater than a

SHORT HAND IF STATEMENT

In [ ]:
a=12
b=100
if b>a: print("b is greater tha a")

b is greater tha a

SHORT HAND IF.. ELSE STATEMENT

In [ ]:
c=35
d=40

print("c is greater than d") if c>d else print("d is greater than c")

d is greater than c

AND LOGIC IF OPERANDS ARE TRUE

In [ ]:
c=35
d=40
e=30

if d>c and c>e:
  print("Both conditions must be True")

Both conditions must be True

OR LOGIC - IF ONE OF THE OPERANDS IS TRUE

In [ ]:
if d>c or e>c:
  print("If one of the two operands is True")

If one of the two operands is True

NESTED IF

In [ ]:
x=int(input())

if x>10:
  print("x is above 10")
if x>20:
  print("x is above 20")
  if x>30:
    print("x is above 30")
    if x>40:
      print("x is above 40")
    else:
      print("x is not above 40")
  else:
    print("x is not above 30")
else:
  print("x is not above 20")

22
x is above 10
x is above 20
x is not above 30

Application 1 - Write a program that determines if the inour age is qualified to vote or not. The qualifying age is 18 years old and above.

In [ ]:
age=int(input());

if age >=18:
  print("You are qualified to vote")
else:
  print("You are not qualified to vote")

23
You are qualified to vote

Application 2 - Write a program that determins if the input number is POSITIVE, NEGATIVE or ZERO

In [1]:
input_number = int(input())

if input_number > 0:
  print('The number is positive.')
elif input_number < 0:
  print('The number is negative.')
else:
  print('The number is zero.')

24
The number is positive.

FOR LOOP STATEMENT

In [ ]:
week = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

THE BREAK STATEMENT

In [ ]:
for x in week:
  print(x)

  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

WHILE LOOP

In [ ]:
y = 1

while y<2:
  print(y)
  if y == 3:
    break
  y+=1

1

In [ ]:
y = 3

while y<6:
  print(y)
  if y == 3:
    break
  y+=1

3